ul,
ol {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

/* Header */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.titlelogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.nav-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

.phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

.mail:hover,
.mail:focus {
  color: #404bbf;
}

.phone-number:hover,
.phone-number:focus {
  color: #404bbf;
}

/* Hero */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2e2f42;
}

.hero-button {
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  width: 169px;
  height: 56px;
  left: 20px;
  top: 88px;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Feauture */

.feauture-title .team-subject .project-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
}

.feauture-text .team-text .project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Doing */

.doing-title .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Team */
.team {
  background: #f4f4fd;
}

/* Footer */
.footer {
  background: #2e2f42;
}

.slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Filters */

.filters-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.filters-item:hover,
.filters-item:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
